{% extends 'base.html.twig' %}

{% block title %}The Scotch Lodge{% endblock title %}

{% block content %}
  <div class="container test">
    <h1>ROEKOEEEE</h1>
  </div>
{% endblock content %}

{% block extrajs %}
  <script src="./js/main.js"></script>
{% endblock extrajs %}
